

@font-face {
  font-family: 'Cafe24Ssurround';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.container {

  
  background: linear-gradient(-45deg,#81adf1, #90b7f1, #84aff1, #77a7ef);
  background-size: 400% 400%;
  animation: AnimationName 15s ease infinite;

  border-radius: 20px 20px  20px 20px; 
    height: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  text-align: center;
}

.Deploys
{
  
display: grid;
grid-column: 1/13;
grid-row: 2/9;

background: linear-gradient(45deg, #dfdee0, #eae9ec, #e6e2ee, #e8e2f3);
background-size: 400% 400%;

box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 0px );
-webkit-backdrop-filter: blur( 0px );

}

.fcarousel {
  
  display: grid;
  grid-column: 8/15;
  grid-row: 2/9;
  
  width: 50rem;
  height: 23rem;
  perspective: 500px;
  transform-style: preserve-3d;
}
.Procedure
{

  
  color: blue;
height: 500px;
width: 600px;

display: grid;

grid-column: 7/13;
grid-row: 2/8;
align-content: center;
text-align: center;

box-sizing: border-box;
 
}

.CrimeDetail
{
  width: 500px;
  height: 350px;
  margin-top: 70px;
  
}

.ProDetail1
{
  
  position: relative;
  height:110px;
  
  background-color: white;
  border-radius: 0 0 20px 20px;
  
}


.custom-btn {

  font-family: 'Cafe24Ssurround';
  
  font-weight: bold;
  width: 140px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.custom-btn2 {

  
  font-weight: bold;
  width: 90px;
  height: 30px;
  padding: 6px 10px;
  border: 2px solid #000;
  font-weight: 500;
  font-size: 12px;
  color: white;
  background: rgb(119, 163, 239);
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
} 

@media all and (min-width: 412px) and (max-width:501px) {
  .Deploys {
    position: relative;
    width: 412px;
  }


  .Procedure
{

color: black;
height: 500px;
width: 300px;

display: grid;

grid-column: 7/13;
grid-row: 2/8;
align-content: center;
text-align: center;

box-sizing: border-box;
font-family: 'Cafe24Ssurround';
  
}

.container {

  margin-top: -50px;
  background: linear-gradient(-45deg,#00206d, #120a4d, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: AnimationName 15s ease infinite;

  border-radius: 20px 20px  0 0; 
    height: 550px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  text-align: center;
}


.ProDetail1
{
  
  position: relative;
  height:90px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: 300px;
  
}

.ProDetail2
{
  margin-top: 60px;
  width: 280px;
  margin-left: 10px;
  
}

}

@media all and (min-width: 390px) and (max-width: 411px) {
  .Deploys {
    position: relative;
    width: 390px;
  }


  .Procedure
{

color: black;
height: 500px;
width: 300px;

display: grid;

grid-column: 7/13;
grid-row: 2/8;
align-content: center;
text-align: center;

box-sizing: border-box;
font-family: 'Cafe24Ssurround';
  
}

.container {

  margin-top: -50px;
  background: linear-gradient(-45deg,#00206d, #120a4d, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: AnimationName 15s ease infinite;

  border-radius: 20px 20px  0 0; 
    height: 550px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  text-align: center;
}


.ProDetail1
{
  
  position: relative;
  height:90px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: 300px;
  
}

.ProDetail2
{
  margin-top: 60px;
  width: 280px;
  margin-left: 10px;
  
}

}

@media all and (min-width: 360px) and (max-width: 389px) {
  .Deploys {
    position: relative;
    width: 360px;
  }


  .Procedure
{

color: black;
height: 500px;
width: 300px;

display: grid;

grid-column: 7/13;
grid-row: 2/8;
align-content: center;
text-align: center;

box-sizing: border-box;
font-family: 'Cafe24Ssurround';
  
}

.container {

  margin-top: -50px;
  background: linear-gradient(-45deg,#00206d, #120a4d, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: AnimationName 15s ease infinite;

  border-radius: 20px 20px  0 0; 
    height: 550px;
    width: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
  text-align: center;
}


.ProDetail1
{
  
  position: relative;
  height:90px;
  background-color: white;
  border-radius: 0 0 20px 20px;
  width: 300px;
  
}

.ProDetail2
{
  margin-top: 60px;
  width: 280px;
  margin-left: 10px;
  
}

}